.aggregator-wrapper {
  align-items:     center;
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  padding:         75px 20px;

  .title {
    font-weight: 700;
    margin:      18px 0;
  }

  .description {
    margin-bottom: 43px;
    max-width:     780px;
  }

  .aggregator-images {
    display:         flex;
    justify-content: center;
    width:           100%;

    img {
      max-width: 48%;
      width:     48%;
    }
  }
}

.photo-slider {
  display: none;
  width:   100%;
}

@media only screen and (max-width: 1166px) {
  .aggregator-wrapper {
    padding: 30px 20px;

    .aggregator-images {
      display: none;
    }

    .photo-slider {
      display: block;
    }
  }
}

//from here
.cookie-banner {
  position: fixed;
  top: 1px;
  left: 0%;
  right: 0%;
  width: 100%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
//to here