.stroked-background {
  background:      url('../../assets/images/intro-bckgd.svg') no-repeat center 95px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;

  .sec-one {
    width: 50%;
    max-width: 50%;
  }
}

.section-text {
  &__title-wrapper {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
    margin: 0 auto;
    max-width: 920px;
  }
}

//from here
.cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
//to here

.smaller-title-text {
  font-size: 22px;
  margin-left: 6px;

  .big-text {
    font-size: 38px;
  }
}

@media only screen and (max-width: 994px) {
  .stroked-background {
    flex-direction: column;

    .sec-one {
      width: 100%;
      max-width: 100%;
    }
  }

  .smaller-title-text {
    .big-text {
      font-size: 26px;
    }
  }
}
